@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Gabarito&family=Inclusive+Sans&family=Inter&family=Montserrat&family=Poppins&family=Raleway&family=Roboto&family=Space+Grotesk&family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    transition: all 0.5s linear;
    font-family: 'Gabarito', sans-serif;
}
.background{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(2 10 10/57%),rgba(2 10 10/20%)),url(img/pic1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.navbar img{
    width: 80px;
}
.navbar-items{
    flex: 1;
    text-align: right;
}
.navbar{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navbar ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 1% 2%;
    font-weight: bold;
    font-size: 18px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    display: block;
    margin: auto;
    transition: 0.5s;
    background-color: #2e6476;
}
.navbar ul li:hover::after{
    width: 100%;
}
.burger{
    display: none;
}
/* ___________main */
.main{
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-box{
    color: #fff;
    width: 40%;
}
.text-box h1{
    padding: 2px;
    font-size: 60px;
}
.text-box p{
    padding: 1% 0;
}
/* Style for the new LOGIN button in the text-box */
.text-box .btn {
    margin-top: 20px; /* Space the button below the paragraph */
    display: inline-block;
}

/* -------------------------------------- */
/* FIXES FOR APPOINTMENT BOX */
/* -------------------------------------- */

.box{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #2e6476;
    height: auto; 
    padding: 30px 20px; 
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border-radius: 10px;
    transition: all 0.5s ease-out;
}
.box:hover {
  transform: scale(1.03);
  background-color: #3f7b8e;
}
.box h1{
    margin-bottom: 5%;
}

#appointment-form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box input,
.box select,
.box textarea { 
    width: 90%; 
    border: none;
    outline: none;
    margin: 3px 0; 
    padding: 10px; 
    border-radius: 5px;
    font-size: 14px;
}

.box input:disabled,
.box textarea:disabled {
    background-color: #aebfd0; 
    color: #333;
    opacity: 0.8;
}

.box textarea {
    resize: none; 
    height: 60px; 
}

.box input:focus,
.box select:focus,
.box textarea:focus {
  outline: 2px solid #fff;
}

/* -------------------------------------- */
/* END FIXES FOR APPOINTMENT BOX */
/* -------------------------------------- */

.btn{
    background-color: #2e6476;
    color: #fff;
    border: 2px solid transparent;
    /* Updated padding from original code */
    padding: 10px 15px; 
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    /* Added button specific styles for form */
    margin-top: 10px; 
    width: 90%; 
    text-align: center;
}
.btn1:hover{
    background-color: #fff;
    color: #2e6476;
}
.btn2{
    background-color: #fff;
    color: #2e6476;
    /* Adjusted margin from original code */
    margin-top: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
.btn2:hover{
    color: #fff;
    background-color: #6a8d9a;
}
/* _________services */
.services{
    width: 80%;
    margin: auto;
    padding: 2% 0;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1{
    flex-basis: 30%;
    color: #fff;
    padding: 2%;
    margin-bottom: 2%;
    background-color: #1a92bedb;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    transition: all 0.5s ease-out;
}
.box1:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.heading{
    padding: 2% 0;
    color: #2e6476;
    font-size: 40px;
}
.box1 i{
    padding:  5%;
    background-color: #f8fdff6b;
    border-radius: 50%;
    font-size: 20px;
}
.box1 h2{
    padding: 2% 0;
    font-size: 28px;
}
/* ____________quality  */
.quality{
    width: 80%;
    margin: auto;
}
.box2,.box3{
    flex-basis: 29%;
    text-align: center;
    padding: 2%;
    margin: 3% 0;
}
.box2 h2{
    padding: 2% 0;
    font-size: 29px;
}
.box2 i{
    font-size: 3em;
    padding-bottom: 2%;
}
.quality div :nth-child(1) i{
    color: #30e430;
}
.quality div :nth-child(2) i{
color: red;
}
.quality div :nth-child(3) i{
color: blue;
}
.box2:hover{
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    transition: all 0.5s ease-out;
}
/* ______________about */
.about{
    width: 80%;
    margin: auto;
}
.row1{
    padding: 2% 0;
}
.left{
    width: 50%;
}
.left img{
    max-width: 100%;
    height: auto;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
.right{
    width: 45%;
}
.right h1{
    font-size: 40px;
}
.right p{
    padding: 3% 0;
}
.btn3{
    font-size: 20px;
}
.btn3:hover{
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.5s linear;
}
/* __________departments */
.department{
    width: 80%;
    margin: auto;
    padding-bottom: 2%;
}
.box3{
    flex-basis:22% ;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
.box3:hover{
    transform: scale(1.1);
    background-color: #6a8d9a;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s linear;
}
/* __________footer */
footer{
    background-color: #2e6476;
    color: #fff;
}
.footer-sec{
    padding: 3% 0;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
}
.sec{
    display: flex;
    flex-basis: 40%;
}
.f_box{
    flex-basis: 50%;
}
.f_box h2{
    padding-bottom: 2%;
}
.f_box p{
    padding: 4px 0;
}
.f_box p i{
    font-size: 23px;
    padding: 5px 3px;
    cursor: pointer;
}
.para{
    text-align: center;
    padding: 12px 0;
    background-color: #333;
}
/* ____________responsiveness */
@media only screen and (max-width:995px){
    .box{
        width: 40%;
        height: auto; 
    }
    .row1{
        flex-direction: column;
    }
    .left{
        width: 60%;
    }
    .right{
        width: 80%;
    }
}
@media only screen and (max-width:828px){
    .text-box h1{
        font-size: 40px;
    }
    .footer-sec {
        width: 100%;
    }
}
@media only screen and (max-width:766px){
    .navbar ul li{
        display: block;
        padding: 2px 0 34px;
    }
    .navbar-items{
        position: absolute;
        background-color: #2e6476;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: all 1s ease-out;
    }
    .navbar-items ul{
        padding: 98px 51px 8px 49px;
    }
    .burger{
        display: block;
        z-index: 3;
        position: absolute;
        top: 15px;
        right: 5%;
        cursor: pointer;
        font-size: 33px;
        color: #fff;
    }
    .h-class{
        height: 100vh;
        opacity: 0;
    }
    .v-class{
        opacity: 0;
    }
    .main{
        flex-direction: column-reverse;
    }
    .text-box{
        width: 80%;
    }
    .box input{
        width: 90%; 
    }
    .row,.sec{
        flex-direction: column;
    }
    .box3{
        width: 90%;
    }
    .row,.box1{
        margin-bottom: 7%;
    }
    .box1{
        padding: 4%;
    }
}
@media only screen and (max-width:570px){
    .box{
        width: 80%; 
    }
    .text-box,.right,.left{
        width: 95%;
    }
    .box h1{
        padding: 0;
    }
    .text-box p{
        font-size: 12px;
    }
    .right p{
        font-size: 14px;
    }
}


.searchflex{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.search{
    padding-top: 0px;
    padding-left: 50px;
    height: 80%;
    width: 60%;
}
.searchbox{
    height: 35px;
    width: 400px;
}
.searchbtn{
    height: 35px;
    width: 45px;
}


.searched {
    width: 70%;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    margin: 10px auto 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searched table {
    width: 100%;
    border-collapse: collapse;
}
.searched th, .searched td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}


.user-main{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}